*.user
EleWise.ELMA.Local.sln
EleWise.ELMA.local.sln
EleWise.ELMA_Local.sln
EleWise.SharpDevelop.BuildIn.sln
_ReSharper.EleWise.ELMA
_ReSharper.EleWise.ELMA.VSTools
_ReSharper.EleWise.ELMA.local
bin/
obj/
*.suo
App_Data/
.idea/
launchSettings.json

/EleWise.ELMA.Languages.proj.bak
/EleWise.ELMA.Languages.proj
/msbuild.log
/UpgradeLog.htm
.vs
/System/NHibernate4/src/.vs
/System/NHibernate4/src/NHibernate/.vs
/.vscode
/WebDesigner/elma-core-react-ui/.vscode

/Applications/BPM/DevServer/Deploy
/Applications/BPM/EleWise.ELMA.BPM/Resources/base
/Applications/BPM/EleWise.ELMA.BPM.Web/App_Data/
/Applications/BPM/EleWise.ELMA.BPM.Web/logs/
/Applications/BPM/EleWise.ELMA.BPM.Web/OmniSharp.Roslyn/
/Applications/BPM/EleWise.ELMA.BPM.Web/Resources/base
/Applications/BPM/EleWise.ELMA.BPM.Web/Web.Published.config
/Applications/BPM/EleWise.ELMA.BPM.Web/Modules/EleWise.ELMA.BPM.Web.Common/Content/Help
/Applications/BPM/EleWise.ELMA.BPM.Web/Modules/EleWise.ELMA.BPM.Web.Content/Content/DemoWelcomScreen
/Applications/BPM/EleWise.ELMA.BPM.Web/Modules/EleWise.ELMA.CRM.Workflow.Processes.Web/Content/Help
/Applications/BPM/EleWise.ELMA.BPM.Web/Modules/EleWise.ELMA.Documents.Docflow.Web/Content/ELMAOutlookAddin.exe
/Applications/BPM/EleWise.ELMA.BPM.Web/Modules/EleWise.ELMA.Documents.Docflow.Web/Content/Help
/Applications/BPM/EleWise.ELMA.BPM.Web/Modules/EleWise.ELMA.KPI.Web/Content/Help
/Applications/BPM/EleWise.ELMA.BPM.Web/Modules/EleWise.ELMA.Projects.Web/Content/Help
/Applications/BPM/EleWise.ELMA.BPM.Web/Modules/EleWise.ELMA.UIBuilder.Web/Content/**/*.*
/Applications/BPM/EleWise.ELMA.BPM.Web/Modules/EleWise.ELMA.UIBuilder.Web/Resources/*
/Applications/BPM/EleWise.ELMA.BPM.Web/Modules/EleWise.ELMA.UIBuilder.Web/Scripts/**/*.*
/Applications/BPM/EleWise.ELMA.BPM.Web/Modules/EleWise.ELMA.Messages.Web/Scripts/Chat/**/*.*
/Applications/BPM/EleWise.ELMA.BPM.Web/Modules/EleWise.ELMA.BusinessRules.Web/Scripts/bundle.*

/Backup/

/build/BPM/
/build/Config/en-US
/build/Files/Dev/VS2012/VSPlugin/EleWise.ELMA.SDK.VS2013Package.dll
/build/Files/Dev/VS2012/VSPlugin/EleWise.ELMA.SDK.VS2013Package.dll.config
/build/Files/Dev/VS2012/VSPlugin/EleWise.ELMA.SDK.VS2013Package.vsix
/build/Files/Dev/VS2013/VSPlugin/EleWise.ELMA.SDK.VS2013Package.dll
/build/Files/Dev/VS2013/VSPlugin/EleWise.ELMA.SDK.VS2013Package.dll.config
/build/Files/Dev/VS2013/VSPlugin/EleWise.ELMA.SDK.VS2013Package.vsix
/build/Files/vssdk/Microsoft.VisualStudio.Shell.dll
/build/Proxies

/Extensions/Modules/EleWise.ELMA.CRM.Workflow.Processes/Help
/Extensions/Modules/EleWise.ELMA.Common/Help
/Extensions/Modules/EleWise.ELMA.Documents.Docflow/Help
/Extensions/Modules/EleWise.ELMA.KPI/Help
/Extensions/Modules/EleWise.ELMA.Projects/Help

/Extensions/Visual Studio2013/DesignerBin/
/Extensions/Visual Studio2013/msbuild.log
/Extensions/VisualStudio/DesignerBin/
/Extensions/VisualStudio/log.txt
/Extensions/VisualStudio/msbuild.log
/Extensions/Visual Studio2017/DesignerBin/
/Extensions/Visual Studio2017/msbuild.log

/Installer/Compiled
/Installer/elma-setup-languages.iss
/Installer/elma-setup-languages.iss.bak
/Installer/elma-setup-ce-languages.iss
/Installer/elma-setup-ce-languages.iss.bak
/Resources/EleWise.ELMA.BPM.MUI.de-DE.nuspec
/Applications/BPM/EleWise.ELMA.BPM.Web/FilePreviewCreators
/Applications/BPM/FilePreviewCreators
/Installer/InstallerPackage
/Installer/Languages/

/Packaging/EleWise.ELMA.Packaging/Resources/base
/packagesRepository/
/packages/PostgreSQL.12.1.1.0/Content/

/Resources/Localization/
/Resources/*.nuspec

/SDK/EleWise.ELMA.SDK/Resources/base

/Tools/Obfuscation/Files.txt

/GitHooks/CommitGitHook/bin/
/GitHooks/CommitGitHook/obj/

# Do not ignore these!
!/Installer/Languages/ru-RU
!/packages/OmniSharp.Roslyn.1.30.4/ELMA/Web/OmniSharp.Roslyn/msbuild/15.0/Bin

# End of do-not-ignore
/Applications/BPM/FilePreviewCreator
/_ReSharper.Caches
/Tools/EleWise.ELMA.WebCompiler.Build/*.pdb
/Tools/EleWise.ELMA.WebCompiler.Build/*.xml
/Tools/EleWise.ELMA.WebCompiler.Build/EleWise.ELMA.WebCompiler.Build.vshost.*
/Tools/EleWise.ELMA.WebCompiler.Build/Newtonsoft.Json.xml
/Tools/EleWise.ELMA.WebCompiler.Build/log_*
/Tests/DatabaseExtensions
/Tests/TestConfiguration/Files
/Tests/TestConfiguration/Integration1C
/Tests/TestConfiguration/Notifications
/Tests/TestConfiguration/Files/*.png
/Tests/TestConfiguration/Update/BackupInfo.dat
/Tests/TestConfiguration/COMMON-BASE.FDB
/Tests/TestConfiguration/Templates/Tests/TestConfiguration/Previews
/Tests/TestConfiguration/ProductionSchedule
/Tests/TestConfiguration/Update

/Tests/TestConfiguration/Update
/Tests/TestConfiguration/*.FDB
/Tests/TestConfiguration/Templates/AcquaintanceListTemplate.server.docx
/Tests/TestConfiguration/Templates/ApprovementListTemplate.server.docx
/Tests/TestConfiguration/Templates/ApprovementListTemplateWithStages.server.docx
/Tests/TestConfiguration/Templates/RegulationTemplate.server.doc
/Tests/TestConfiguration/Templates/RegulationTemplate.server.old
/Tests/TestConfiguration/Templates/UserDictionaryTemplate.server.xml
/Tests/TestConfiguration/Templates/*.old
/TestResult.xml
/Tests/EleWise.ELMA.TestFramework/.vs/EleWise.ELMA.TestFramework/v15/Server/sqlite3/db.lock
/Tests/EleWise.ELMA.TestFramework/.vs/EleWise.ELMA.TestFramework/v15/Server/sqlite3/storage.ide
/Tests/EleWise.ELMA.TestFramework/.vs/EleWise.ELMA.TestFramework/v15/Server/sqlite3/storage.ide-shm
/Tests/EleWise.ELMA.TestFramework/.vs/EleWise.ELMA.TestFramework/v15/Server/sqlite3/storage.ide-wal
/Tests/EleWise.ELMA.TestRunner/.vs/EleWise.ELMA.TestRunner/v15/Server/sqlite3/db.lock
/Tests/EleWise.ELMA.TestRunner/.vs/EleWise.ELMA.TestRunner/v15/Server/sqlite3/storage.ide
/Tests/EleWise.ELMA.TestRunner/.vs/EleWise.ELMA.TestRunner/v15/Server/sqlite3/storage.ide-shm
/Tests/EleWise.ELMA.TestRunner/.vs/EleWise.ELMA.TestRunner/v15/Server/sqlite3/storage.ide-wal
/TestResult*.xml
/Tests/TestConfiguration/PG_Dumps
